:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sitebar-width: 220px;
  --font-base: "Bai Jamjuree" ;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base),sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}
a{
    color: var(--color-body);
    text-decoration: none;
    transition: all, 0.4s, ease;
}
a:hover{
    color: var(--color-brand);
}
img{
    width: 100%;
    max-width: 100%;
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: solid 2px rgba(255, 255, 255,0.1);
}
.text-brand{
    color:var(--color-brand);
}
.custom-btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}
.btn-brand:hover,.btn-brand:focus{
     background-color: var(--color-brand2);
    border-color: var(--color-brand2);
    color: var(--color-base2);
}
.custom-lik{
    font-weight: 700;
    position: relative;
}
.custom-lik::after{
    content:"";
    width:0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s ease;

}
.icon-box{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}
.custom-lik:hover::after{
    width:100%;
}
.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -6px 6px 1px 0 var(--color-brand);
}

.bg-base{
    background-color: var(--color-base);
   height: 260px !important;
}
.bg-base-2{
    background-color: var(--color-base);
   height: 230px !important;
}
.bg-base-projects{
    background-color: var(--color-base);
  
}
/* nav-bar-section-starts-here */
.custom-navbar{
    background-color: var(--color-base);
}
.custom-navbar .custom-nav-link{
   color: #ffffff;
   text-transform: uppercase;
   font-weight: 700;
}
.custom-navbar .custom-nav-link:hover{
   color: var(--color-brand);
}
.custom-navbar .custom-nav-link.active{
   color: var(--color-brand);
}
.custom-card .custom-card-images{
    overflow: hidden;
}
.custom-card .custom-card-images img{
    transition: all 0.4s ease;
   
}
.custom-card .custom-card-images img{

   height: 180px;
   
}
.custom-card:hover .custom-card-images img{
    transform: scale(1.3);
}
/* nav-bar-section-end-here */


/* contact-section-end-here */
#contact .form-control{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}
#contact .form-control:focus{
    border-color: var(--color-brand);
    box-shadow: none;
}
#contact .form-control::placeholder{
    color: var(--color-body);
}
#contact input.form-control{
   height: 44px;
}
.social-icons{

}
.social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}
/* contact-section-end-here */




/* home-section-starts-here */

/* home-section-ends-here */
@media(min-width:992px){
    /* nav-section-start-here */
.custom-navbar{
    min-height: 100vh;
    width: var(--sitebar-width) !important;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.profile-image{
    width: 180px;
    height: 180px;
    border: 8px solid var(--color-brand);
}
/* nav-section-end-here */

/* content-wrapper-section-starts-here */
#content-wrapper{
    padding-left:var(--sitebar-width);
    
}
/* content-wrapper-section-ends-here */
.bg-base{
    background-color: var(--color-base);
    height: 280px;
}
.bg-base-2{
    background-color: var(--color-base);
    height: 200px !important;
}
.bg-base-projects{
    background-color: var(--color-base);
  
}
}

.slick-track {
    height: 230px !important;
}

.slick-prev::before{
    display: none;
}
.slick-next{
   display: none;
}

